@media only screen and (max-width:1024px) {
    .img {
        display: none;
    }

    .menu ul {
        font-size: 40px;
    }

    .element_product .top {
        font-size: 30px;
    }
}

@media only screen and (max-width:768px) {
    .img {
        display: none;
    }

    .menu ul {
        font-size: 40px;
    }

    .element_product .top {
        font-size: 30px;
    }
}

@media only screen and (max-width:425px) {
    .img {
        display: none;
    }

    .menu ul {
        font-size: 40px;
    }

    .element_product .top {
        font-size: 30px;
    }
}

@media only screen and (max-width:375px) {
    .img {
        display: none;
    }

    .menu ul {
        font-size: 40px;
    }

    .element_product .top {
        font-size: 30px;
    }
}

@media only screen and (max-width:320px) {
    .img {
        display: none;
    }

    .menu ul {
        font-size: 40px;
    }

    .element_product .top {
        font-size: 30px;
    }
}