<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Зефир в Тольятти.</title>
    <link rel="icon" type="image/x-icon" href="{% static 'webs/favicon2.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        a {
        text-decoration:none;
        }

    </style>
</head>
<body>
<div class="menu">
    <div class="wrap">
        <ul>
            <li class="favicon">
                <a href="{% url 'index' %}">
                    <img src="{% static 'webs/ORpXppLMk3E.jpg' %}" alt="">
                </a></li>
            <li><a href="{% url 'index' %}">Фото</a></li>
            <li><a href="{% url 'product:products' %}">Товары</a></li>
            <li><a href="{% url 'currentweb' %}">Оставить отзыв</a></li>
            <li><a href="{% url 'blogweb' %}">Отзывы</a></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="menu_bottom">
    <div class="wrap_bottom">
        <ul>
            <li>+7 (902) 296-07-09</li>
            <li class="favicon">
                <a href="{% url 'index' %}">
                    <img src="{% static 'webs/ORpXppLMk3E.jpg' %}" alt="">
                </a>
            </li>
            <li>
                <a href="https://vk.com/id468504980" target="_blank">
                <p>https://vk.com/id468504980</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
